.header {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  height: 76px;
  vertical-align: middle;

  li {
    display: inline-block;
    font-size: 16px;
    line-height: 76px;

    a {
      margin-right: 34px;
      color: #111111;
      transition: opacity 0.2s;
      font-size: 16px;
      letter-spacing: 0;

      &:hover {
        opacity: 0.6;
      }
    }

    &:nth-child(2) a {
      margin-right: 28px;
    }

    &:nth-child(4) a {
      margin-right: 36px;
    }

    &:nth-child(7) a {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.header_logo {
  float: left;
  margin-right: 24px;

  img {
    padding-top: 13px;
  }
}

.header_promo-logo {
  position: relative;
  float: right;
  margin: -76px 14px 0 0;

  &:after {
    position: absolute;
    display: block;
    content: "СПЕЦПРОЕКТ";
    bottom: -18px;
    right: 0;
    font-size: 12px;
    letter-spacing: 1px;
  }

  img {
    padding-top: 25px;
  }
}