.labels {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  width: 98%;
  height: 89%;
  background-color: transparent;
}

.label {
  position: absolute;
  width: 66px;
  height: 50px;
  background-color: white;
  border: 3px solid #d95d99;
  border-left-width: 0;
  border-radius: 5px 4px 4px 5px;
  transition: all 0.3s;
  cursor: pointer;
  transform: rotate(45deg);

  > *,
  > *:before {
    transition: all 0.3s;
  } 

  &:before {
    @include triangle(r, white, 22px, 22px);
    position: absolute;
    top: 0;
    left: -42px;
    content: "";
    display: block;
    transition: all 0.3s;
  }

  &:after {
    position: absolute;
    top: 2px;
    left: -16px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 3px solid #d95d99;
    border-right-width: 0;
    border-bottom-width: 0;
    border-radius: 5px 10px 10px 10px;
    content: "";
    transform: rotate(-45deg);
    transition: all 0.3s;
  }

  &:hover {
    border-color: #1c254f;
    transform: rotate(40deg);

    &:after,
    .label_elem_circle{
      border-color: #1c254f;
    }

    .label_elem_line,
    .label_elem_line:before {
      background-color: #1c254f;
    }

    .label_btn {
      background-color: #bf5e96;
      border-color: #e3b8d1;
      box-shadow: 0 0 0 5px #f2dfea;
    }
  }

  &.is-active {
    background-color: #bf5e96;
    border-color: #1c254f;
    transform: rotate(225deg);

    &:before {
      border-right-color: #bf5e96;
    }

    &:after,
    .label_elem_circle{
      border-color: #1c254f;
    }

    .label_elem_line,
    .label_elem_line:before {
      background-color: #1c254f;
    }

    .label_btn {
      background-color: #d697bc;
      border-color: #cc7dab;
      box-shadow: 0 0 0 8px #c66ea1;
    }
  }
}

.label_elem_circle {
  position: absolute;
  left: -13px;
  top: 17px;
  width: 10px;
  height: 10px;
  border: 3px solid #d95d99;
  border-radius: 50%;
  background-color: white; 
}

.label_elem_line {
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: #d95d99;

  &:before {
    position: absolute;
    display: block;
    top: 0;
    left: -8px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #d95d99;
    content: "";
  }
}

.label_btn {
  position: absolute;
  top: 9px;
  left: 20px;
  width: 25px;
  height: 25px;
  padding-top: 1px;
  text-align: center;
  border-radius: 50%;
  background-color: #0d113d;
  border: 5px solid #9999ab;
  box-shadow: 0 0 0 8px #d1d2d9;
  font-size: 10px;
  font-weight: 600;
  color: white;
}

.label1 {
  top: 36%;
  left: 50%;
  margin: 5px;
  transform: rotate(-45deg);
}

.label2 {
  top: 33%;
  left: 20%;
  margin: 3px;
  transform: rotate(115deg);
}

.label3 {
  top: 78%;
  left: 34%;
  margin: 3px;
  transform: rotate(115deg);
}

.label4 {
  top: 48%;
  left: 68%;
  margin-left: -4px;
}

.label5 {
  top: 25%;
  left: 35%;
  margin: 4px;
}

.label6 {
  top: 59%;
  left: 37%;
}

.label7 {
  top: 13%;
  left: 67%;
  transform: rotate(115deg);
}

.label8 {
  top: 10%;
  left: 50%;
  transform: rotate(69deg);
}

.label9 {
  top: 80%;
  left: 55%;
}

.label10 {
  top: 48%;
  left: 83%;
}

.label11 {
  top: 86%;
  left: 83%;
  margin-left: 4px;
}

@media screen and (min-width: 1301px) {
  .label1 {
    top: 45%;
  }

  .label3 {
    top: 90%;
  }

  .label9 {
    top: 91%;
  }
}

@media screen and (max-width: 1300px) {
  .label1 {
    top: 40%;
  }

  .label9 {
    top: 70%;
  }

  .label6 {
    top: 50%;
  }

  .label3 {
    top: 70%;
  }
}

@media screen and (max-width: 1250px) {
  .label9 {
    top: 74%;
  }

  .label6 {
    top: 50%;
  }

  .label3 {
    top: 75%;
  }
}

@media screen and (max-width: 1100px) {
  .label9 {
    top: 70%;
  }

  .label6 {
    top: 50%;
  }

  .label3 {
    top: 70%;
  }

  .label4 {
    top: 42%;
  }

  .label7 {
    top: 10%;
    left: 64%;
  }

  .label1 {
    top: 36%;
  }

  .label5 {
    top: 20%;
    left: 32%;
  }
}

@media screen and (max-width: 1000px) {
  .label9 {
    top: 65%;
  }
  .label3 {
    top: 67%;
    left: 30%;
  }

  .label6 {
    top: 44%;
  }

  .label2 {
    left: 15%;
  }

  .label5 {
    top: 16%;
    left: 27%;
  }

  .label1 {
    top: 30%;
  }
}

@media screen and (max-width: 768px) {
  .labels {
    width: 750px;
    height: 80%;
    left: 0;
    right: 0;
  }
}