.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url("./popup-bg.png");
  color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  .container {
    position: relative;
  }

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
}

.popup_title {
  margin: 30px 0 8px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.popup_desc {
  margin: 0 auto 43px;
  width: 535px;
  font-size: 14px;
}

.btn {
  display: block;
  margin: 40px auto;
  width: 200px;
  padding: 20px 45px;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 13px;
  text-transform: uppercase;
}

.popup_title_articles {
  position: relative;
  margin: 0 auto;
  width: 180px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:before,
  &:after {
    position: absolute;
    display: block;
    bottom: 8px;
    left: -380px;
    width: 380px;
    height: 1px;
    background-color: #834a78;
    content: "";
  }

  &:after {
    left: 180px;
  }
}

.popup_exit {
  position: absolute;
  top: -58px;
  right: 14px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;

  &:after,
  &:before {
    position: absolute;
    display: block;
    top: 7px;
    right: -46px;
    width: 38px;
    height: 2px;
    background-color: white;
    content: "";
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}