$sprite: (
	exit_btn: (
		offset-x: 0px,
		offset-y: 0px,
		width: 28px,
		height: 28px,
	),
	favicon: (
		offset-x: -34px,
		offset-y: 0px,
		width: 16px,
		height: 16px,
	),
);

$spritesheet-width: 50px;
$spritesheet-height: 28px;
$spritesheet-image: "sprite.png";