doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='Спецпроект «Азбука ремонта» от МТС')
    // <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    // <meta name="viewport" content="width=320, initial-scale=1">
    //if IE
      link(rel='stylesheet', href='styles/ie.css')
    meta(property='og:title', content='Азбука ремонта от МТС')
    meta(property='og:description', content='спланируй свой ремонт от А до Я')
    meta(property='og:image', content='http://www.inmyroom.ru/landing/mtsazbukaremonta/images/share.jpg')
    title Азбука ремонта от МТС
    link(rel="stylesheet" href="./assets/main.css")
    link(href='./assets/favicon.png', rel='shortcut icon', type='image/vnd.microsoft.icon')
  body
    .keeper(data-component="popup")
      main.main
        .container
          .main_white_gradient
          header.header
            .container
              ul
                li
                  a(href='http://www.inmyroom.ru')
                    img(src="./assets/imr-logo.png")
                li
                  a(href='http://www.inmyroom.ru/my/feed') Моя лента
                li
                  a(href='http://www.inmyroom.ru/posts') Идеи
                li
                  a(href='http://www.inmyroom.ru/products') Магазин
                li
                  a(href='http://www.inmyroom.ru/photos') Фото
                li
                  a(href='http://www.inmyroom.ru/discussions') Советы
                li
                  a(href='http://www.inmyroom.ru/profi') Профи
                li
                  img(src='./assets/electrolux_header_logo.png')
          .label.label1.js-popupLabel(data-id="0")
            .label_btn x
            .label_elem_circle
            .label_elem_line

          .label.label2.js-popupLabel(data-id="1")
            .label_btn x
            .label_elem_circle
            .label_elem_line

          .label.label3.js-popupLabel(data-id="2")
            .label_btn x
            .label_elem_circle
            .label_elem_line

          .label.label4.js-popupLabel(data-id="3")
            .label_btn x
            .label_elem_circle
            .label_elem_line

          .label.label5.js-popupLabel(data-id="4")
            .label_btn x
            .label_elem_circle
            .label_elem_line

          .label.label6.js-popupLabel(data-id="5")
            .label_btn x
            .label_elem_circle
            .label_elem_line

          .label.label7.js-popupLabel(data-id="6")
            .label_btn x
            .label_elem_circle
            .label_elem_line

          //- .label.label8.js-popupLabel
          //-   .label_btn x
          //-   .label_elem_circle
          //-   .label_elem_line

          //- .label.label9.js-popupLabel
          //-   .label_btn x
          //-   .label_elem_circle
          //-   .label_elem_line

          //- .label.label10.js-popupLabel
          //-   .label_btn x
          //-   .label_elem_circle
          //-   .label_elem_line

          //- .label.label11.js-popupLabel
          //-   .label_btn x
          //-   .label_elem_circle
          //-   .label_elem_line

      .popup.is-closed
        .container
          .label-preview.label__xl

          .popup_title совет от Electrolux
          .popup_desc В профессиональных прачечных регулярно используетсяпар для освежения одежды и разглаживания складок на ней — волокна размягчаются, заставляя исчезать складки и загибы. Эта технология SteamSystem теперь доступна и для вас; большинство складок исчезнут, и одежда будет требовать минимальной обработки утюгом или вообщене будет в ней нуждаться

          .popup_title_articles Другие статьи

          .label-previews

          .btn Смотреть все
          .popup_exit.js-popupExit ЗАКРЫТЬ

    script(src='./assets/templates.js')
    script(src='./assets/main.js')